In [1]:
import pandas as pd

In [7]:
url = 'http://blog.collegetuitioncompare.com/2013/08/top-10-management-information-systems-college-tuition-comaprison.html'

In [8]:
data = pd.read_html(url, header = 0)

In [9]:
read_data = data[0]

In [10]:
read_data

,Rank,Name,Acceptance Rates,Population,Student Faculty Ratio
0,1,Massachusetts Institute of Technology Cambrid...,8%,11301,12.50 %
1,2,"Carnegie Mellon University Pittsburgh, PA",25%,12367,10.00 %
2,3,"The University of Texas at Austin Austin, TX",40%,52059,5.56 %
3,4,University of Minnesota-Twin Cities Minneapol...,44%,51526,5.88 %
4,5,"University of Arizona Tucson, AZ",77%,40621,4.76 %
5,6,University of Maryland-College Park College P...,47%,37272,5.56 %
6,6,"University of Pennsylvania Philadelphia, PA",12%,24630,16.67 %
7,8,"New York University New York, NY",26%,44599,10.00 %
8,9,"Stanford University Stanford, CA",6%,18346,9.09 %
9,10,"Georgia State University Atlanta, GA",55%,32165,4.55 %
10,10,"Indiana University-Bloomington Bloomington, IN",72%,46817,5.56 %

In [11]:
read_data.dtypes

Rank                      int64
Name                     object
Acceptance Rates         object
Population                int64
Student Faculty Ratio    object
dtype: object

In [15]:
df = pd.DataFrame(read_data)

In [18]:
df.to_csv('acceptance_stats_1', index=False, encoding='utf-8')